<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>等待後臺送出資料</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body class="colorful-background">
    <p class="text-center-page">
        <span class="large-title">哈囉工具人</span>
        <br/>
        <span id="CountDown" data-seconds="<%= seconds %>" class="mid-title"></span>
        <br/>
        <span class="mid-title">後送出</span>
    </p>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="/javascripts/color.js"></script>
    <script src="/javascripts/countdown.js"></script>
</body>
</html>
